{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        インストラクション
    </h3>
<p>
    これは4人で行う「セールスの合計を競う」ゲームです．
</p>
<p>
    プレイヤーはまず能力の高いメンバーと低いメンバーに分けられます。能力は実験の間変わりません。
    そしてゲーム毎に能力の高いメンバーと低いメンバーを組み合わせてチームを作ります。

    あなたの能力は「」です。
    
    まずそれぞれのプレイヤーはゲームの際に自らが行う努力量 {{ Constants.max_effort }}を決めてください。
    あなたが決定した努力量に能力差(今回だと高い人には40点割り振られます)と乱数を加えて、あなたのアウトプットとします。

    チーム毎にアウトプットを集計し高いほうが勝ちです。
    勝ったチームメンバーは{{ Constants.reward_high }}円を、
    負けたチームメンバーは{{ Constants.reward_low }}円が報酬として支払われます。

    最後に報酬からあなたが行った努力量に対するコストを引いて、プレイヤーへの支払いとします。
    
</p>
</div>
