{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        インストラクション
    </h3>
<p>
    これは4人で行う「セールスの合計を競う」ゲームです．
</p>

{% if player.id_in_group == 1 or player.id_in_group == 2 %}

<p>
    1. みなさんには営業パーソンの役を演じてもらいます。<br>
    2. このゲームは4人1グループで行います。（8人の場合は、2グループにランダムに分けられます）。<br>
    3. ゲーム内では「能力が高いメンバー」と「能力が低いメンバー」に分けられます。そしてセッション毎にランダムに強いメンバーと弱いメンバーでチームが作られます。<br>
    あなたは<b>「強いメンバー」</b>です。<br>
    4. 4人の営業パーソンは、ゲームの中でどれだけ「努力」するかを決めてもらいます。<br>
    5. 選んだ努力量に、能力値（高い人は40点、低い人は0点）を加え、さらに外部要因を表す乱数(0-40の間でランダム)を加えた数字があなたの売上になります。<br>
    6. チームで売上を合計し、売上が高いチームのメンバーは{{ Constants.reward_high }}円を、低いチームのメンバーは{{ Constants.reward_low }}円が報酬として支払われます。<br>
    7. 最後に報酬からプレイヤーが行った努力量に対するコスト(下記参照)を引いて、プレイヤーへの支払いとします。<br>
    <br>
    （例）50を選択した場合　あなたの売上 = 50 + 能力値40 + 乱数15 = 105

</p>

{% else %}

<p>
    1. みなさんには営業パーソンの役を演じてもらいます。<br>
    2. このゲームは4人1グループで行います。（8人の場合は、2グループにランダムに分けられます）。<br>
    3. ゲーム内では「能力が高いメンバー」と「能力が低いメンバー」に分けられます。そしてセッション毎にランダムに強いメンバーと弱いメンバーでチームが作られます。<br>
    あなたは<b>「弱いメンバー」</b>です。<br>
    4. 4人の営業パーソンは、ゲームの中でどれだけ「努力」するかを決めてもらいます。<br>
    5. 選んだ努力量に、能力値（高い人は40点、低い人は0点）を加え、さらに外部要因を表す乱数(0-40の間でランダム)を加えた数字があなたの売上になります。<br>
    6. チームで売上を合計し、高いチームのメンバーは{{ Constants.reward_high }}円を、低いチームのメンバーは{{ Constants.reward_low }}円が報酬として支払われます。<br>
    7. 最後に報酬からプレイヤーが行った努力量に対するコスト(下記参照)を引いて、プレイヤーへの支払いとします。<br>
    <br>
    （例）50を選択した場合　あなたの売上 = 50 + 能力値0 + 乱数15 = 65
</p>
</div>

{% endif %}
