{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        インストラクション
    </h3>
<p>
    これは4人で行うゲームです．
</p>

<p>
    <img src = "https://pbs.twimg.com/media/EpSulbHVQAAL1W_?format=png&name=medium" width="700" height="650" >
    <img src = "https://pbs.twimg.com/media/EpSvKoWUcAMihbA?format=jpg&name=900x900" width="700" height="700">
    <img src = "https://pbs.twimg.com/media/EoFlx6nVEAAfEYK?format=png&name=900x900" width="640" height="700">
</p>