{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        インストラクション
    </h3>
<p>
    これは4人で行う「セールスの合計を競う」ゲームです．
</p>

<p>
    <img src = "https://pbs.twimg.com/media/EoSX_GcVoAI9V7j?format=png&name=small" width="700" height="650" >
    <img src = "https://pbs.twimg.com/media/EoSX_GgVQAAJGz3?format=png&name=900x900" width="700" height="350">
    <img src = "https://pbs.twimg.com/media/EoFlx6nVEAAfEYK?format=png&name=900x900" width="640" height="700">
</p>