{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    effor_share :
{% endblock %}

{% block content %}

{% if player.id_in_group == 1 or player.id_in_group == 2 %}

    <p>
    <font size="5"><b>あなたはタイプ１です。</b></font><br>
    （あなたの成果には４０点が追加され、チームメンバーには点数の追加はありません。）<br>
    </p>
    <p>
    あなたは {{Constants.max_effort}}まで努力できます。
    </p>

    {% formfield group.effort_amount with label="どれだけ努力を行いますか？" %}

{% else %}

    <p>
    <font size="5"><b>あなたはタイプ２です。</b></font>
    （あなたの成果には点が追加されず、チームメンバーには４０点が追加されます。）
    </p>
    <p>
    あなたは {{Constants.max_effort}}まで努力できます。
    </p>

    {% formfield group.effort_amount with label="どれだけ努力を行いますか？" %}


    {% next_button %}

{% endif %}

{% include 'my_effort_sharing_MAX_v0/Instructions.html' %}

{% endblock %}
</html>
