{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

<p>
    
<b><font size="5">＜実験の概要＞</font></b><br>
・本日の実験で用いる資料やこのインストラクションは，全ての参加者に同一のものを使用しています。<br>
・本日の実験はコンピューターを用いて、ウェブ上で行います。<br>	
・実験開始時に，コンピューターが全員を４人１組となるように，ランダムに分けます。<br>		
この４人の組み合わせは実験毎にランダムに変わります。<br>	
・実験が終了したら，実験者の指示があるまでパソコンの前で待機していください。<br>		
・すべての方が実験本番を終了次第，アンケートを記入してもらいます。<br>		
<br>
・あなたは実験毎に毎回ポイントを獲得します。<br>		
・あなたが獲得するポイントは、あなたの選択とあなた以外の３人の選択に依存します。<br>		
・各回の最後に、あなたがその回で獲得したポイントが加算されていきます。<br>		
・15回の実験が終わったのち、加算されたポイントの合計を円に換算して報酬額が決められます。<br>	
<br>
<br>
<b><font size="5">＜実験の流れ＞</font></b><br>
・皆さんには「販売員」を演じてもらいます。<br>
・実験が始まる前に、４人は<b><font size="4">「能力値が高い販売員 (以下「タイプ１」と言います)」２人</font></b>と<br>	
<b><font size="4">「能力値が低い販売員  (以下「タイプ２」と言います)」２人</font></b>に、ランダムに割り当てられます。<br>	
この役割は15回の実験の間、変わりません。<br>
・実験毎に4人は<b><u><font size="4" color="red">「タイプ１」と「タイプ２」でペアを組み、チームAとチームBに分かれます。</font></u></b><br>		
このチームは15回の実験毎にランダムに分けられます。<br>
<br>
    {% next_button %}

</p>


{% endblock %}

