{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

<p>
<b><font size="5">＜実験における一般的注意＞</font></b><br>
・この画面は必ず全画面にして見てください　<br>
・戻るボタンを押さないように気を付けてください<br>
<br>
<b><font size="5">＜実験の概要＞</font></b><br>
・本日の実験で用いる資料やこのインストラクションは，全ての参加者に同一のものを使用しています。<br>
・本日の実験はコンピューターを用いて、ウェブ上で行います。<br>	
・本日の実験は１５回のラウンドで構成されています。<br>
・実験開始時に，コンピューターが今日の参加全員を４人１組となるように，ランダムに分けます。この４人の組み合わせはラウンド毎にランダムに変わります。<br>	
・１５回のラウンドが終了した後に，アンケートを記入してもらい実験は終了です。<br>		
<br>
・あなたはラウンド毎に毎回ポイントを獲得します。<br>		
・あなたが獲得するポイントは、あなたの選択とあなた以外の３人の選択に依存します。<br>		
・各ラウンドの最後に、あなたがその回で獲得したポイントが加算されていきます。<br>		
・15回のラウンドが終わったのち、加算されたポイントの合計を円に換算して報酬額が決められます。<br>	
<br>
<br>
<b><font size="5">＜実験の流れ＞</font></b><br>
・皆さんには「販売員」を演じてもらいます。<br>
・初回のラウンドを始める前に、コンピューターが参加社全員を半数づつ<b><font size="4">「能力値が高い販売員 (以下「タイプ１」と言います)」</font></b>と<b><font size="4">「能力値が低い販売員  (以下「タイプ２」と言います)」</font></b>に、分けます。このタイプは15回のラウンドの間、変わりません。<br>
・ラウンド毎にコンピューターは<b><u><font size="4" color="red">「タイプ１」１人と「タイプ２」１人をランダムに組み合わせ、チームを作ります。</font></u></b>このチームは15回のラウンド毎に毎回作られます。<br>
・各回のラウンドは、こうして作成された２つのチームの間で成果を競います。<br>
<br>
・ここまで読んだら以下のURLをクリックし、「実験前理解度調査」に進んでください。<br>
<a href="https://docs.google.com/forms/d/1DkE-yRxLS7veOI4XlogAaxRu5UCxbUSzrIGMCQRg8qM/edit" target="_blank" rel="noopener noreferrer"> 実験前理解度調査 </a><br>
・全員が「実験前の理解度調査」を終了すると、自動で次のページに進みます。早めに終わった方はパソコンの前で待機してください。<br>
<br>

</p>


{% endblock %}

