{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    ラウンド :
{% endblock %}

{% block content %}

{% if player.id_in_group == 1 or player.id_in_group == 2 %}

    <p>
    <font size="5"><b>あなたはタイプ１です。</b></font><br>
    <p>
    努力量を [0~100(半角で入力)の整数]で入力してください。
    </p>
       
    <p>
    報酬の決定方法に不安がある方は、以下の詳細をご覧ください。   
    </p>
    {% formfield group.effort_amount with label="努力量を[0~100(半角で入力)]の整数で入力" %}
    
    {% next_button %}


{% else %}

    <p>
    <font size="5"><b>あなたはタイプ２です。</b></font><br>
    努力量を[0~100(半角で入力)の整数]で入力してください。<br>
    </p>
   
    <p>
    報酬の決定方法に不安がある方は、以下の詳細をご覧ください。   
    </p>
    
    {% formfield group.effort_amount with label="努力量を[0~100(半角で入力)]の整数で入力" %}
    
    
    {% next_button %}


{% endif %}


{% include 'my_effort_sharing_MIN_v25/Instructions.html' %}

{% endblock %}
</html>
